.App {
  text-align: center;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.rating{
  margin-left: 10px;
}
.rating p{
  margin: 0;
}
.inputText{
  width: 400px;
  height: 40px;
  border: 2px solid black;
}
.searchBtn{
  height: 46px;
  margin-left: -7px;
  /* padding-right: 30px; */
  padding: 0 30px;
  border: 2px solid black;
}